.container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.products {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 10px;
  top: 20px;
  width: 910px;
}

.oneProduct {
  border: 1px solid black;
  padding: 10px;
}

.categories {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  margin-top: 30px;
  margin-left: -245px;
}

.oneCategory {
  padding: 10px;
  cursor: pointer;
}

/* .searchProduct {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  display: inline-flex;
} */

/* .btnSearch {
  margin: 10px;
} */

img {
  height: 160px;
  width: 200px;
}

.popup {
  background-color: lightgoldenrodyellow;
  width: 400px;
  height: 375px;
  margin-top: 150px;
  margin-left: 140px;
  display: block;
  position: relative;
  text-align: center;

}
.btnClose {
  cursor: pointer;
}

.changeQuantity {
  margin: 5px;
  height: 22px;
  width: 5px;

  padding-top: 0px;
  padding-bottom: 25px;
  padding-right: 18px;
}


/* .categories {
  border: 1px solid black;
  top: 240px;
  padding: 0;
} */

