<div ngClass="container">

  <form (submit)="search()" ngClass="searchProduct">
    <div class="input-group">
      <input type="text" name="search" [(ngModel)]="newSearch" placeholder="Enter the product name"
        class="form-control">
      <div class="input-group-btn">
        <button class="btn btn-dark" type="submit">Search</button>
      </div>
    </div>
  </form>

  <div ngClass="categories">
    <div *ngFor="let c of allCategories" id="{{c._id}}" (click)="changeCategory(c._id)" ngClass="oneCategory">
      {{c.category_name}}
    </div>
  </div>

  <div *ngFor="let s of searchedProduct" ngClass="searchedProduct">
    <h3>{{s.product_name}}</h3>
    <h5>{{s.price}}</h5>
    <img src="assets/images/{{s.picture}}">
  </div>

  <div *ngIf="category" ngClass="products">
    <div *ngFor="let product of catProducts" ngClass="oneProduct" (click)="popup(product)">
      <h3>{{product.product_name}}</h3>
      <h5>{{product.price}}₪</h5>
      <img src="assets/images/{{product.picture}}" ngClass="product-pic">
    </div>
  </div>
</div>

<div *ngIf="ifPopup" ngClass="popup">
  <div>
    <div ngClass="btnClose" (click)="closePopup()">x</div>
    <h3>{{popupProduct.product_name}}</h3>
    <h5>{{popupProduct.price}}₪</h5>
    <div ngClass="quantity">
      Quantity:
      <button (click)="changeQuantity('-')" ngClass="changeQuantity" class="btn btn-dark">-</button>
      <span>{{quantity}}</span>
      <button (click)="changeQuantity('+')" ngClass="changeQuantity" class="btn btn-dark">+</button>
      <br>
    </div>
    <img src="assets/images/{{popupProduct.picture}}" ngClass="product-pic">
    <br>
    <button (click)="addToCart(popupProduct)">Add to cart</button>
  </div>
</div>
