.container {
  display: flex;
  /* flex-wrap: wrap; */
  position: absolute;
  top: 115px;
}

.cart {
  /* float: left; */
  width: 350px;
  height: 650px;
  padding: 5px;
  display: inline-block;
  margin-right: 20px;
}

.myCart {
  border: 1px solid black;
  overflow: auto;
  width: 350px;
  height: 630px;
  padding: 15px;
}

.cartBack {
  display: flex;
  justify-content: space-around;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameItem {
  text-align: center;
  padding:0 5px;
}

img {
  height: 60px;
  width: auto;
}

.total {
  display: flex;
  justify-content: space-around;
}

.order {
  /* float: left; */
  /* position: relative; */
  width: 600px;
  padding: 5px;
  display: inline-block;
}

.shippingDetails {
  /* border: 1px solid black; */
  height: 630px;
}

