<div ngClass="container">
  <a routerLink="/shopping" routerLinkActive="active-link">Start Shopping</a>
  <div ngClass="login">

    <h3>Registered?</h3>

    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <input name="email" class="form-control" ngModel type="text" placeholder="User Name" #email="ngModel" required
          email>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Please enter your username(e-mail).
          </div>
        </div>
      </div>
      <div class="form-group">
        <input name="password" class="form-control" ngModel type="password" placeholder="Password" #password="ngModel"
          required>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required">
            Please enter your password.
          </div>
        </div>
      </div>
      <input value="Login" type="submit" class="btn btn-dark">
    </form>

    <a routerLink="/signup" routerLinkActive="active-link" class="signup">Sign up</a>
  </div>

  <div ngClass="about">
    /Why you should buy in our store + pic./
  </div>

  <div ngClass="info">
    /pic/
    Available products in our store - number **

    Number of orders submitted in our store **

    Notification: (or/or/or)
    You have open cart from [date]/
    your last purchase was on [date]/
    welcome [name]
  </div>
</div>
