<h5>Search product: <input type="text" placeholder="Product Name"></h5>


 <div ngClass="container">
  <!--<div ngClass="myCart">
    <p>My Cart</p>
    <hr>
    <p>Cart Item: Product Name quantity price picture </p>
    <p>Cart Item: Product Name quantity price picture </p>
    <p>Cart Item: Product Name quantity price picture </p>
    <h6> Total: </h6>
    <a routerLink="/order" routerLinkActive="active-link">Order</a>
  </div> -->
  <app-cart ngClass="myCart"></app-cart>
  <app-products ngClass="products"></app-products>

</div>
