<p>Please fill all fields to sign up in our store.</p>

<div ngClass="container">
  <form (submit)=onStepOne(stepOneForm) #stepOneForm="ngForm" ngClass="firstStep">
    <div class="form-group">
      <label for="userid">ID:</label>
      <input name="userid" class="form-control" ngModel type="text" placeholder="ID" #useridInput="ngModel" required>
      <div *ngIf="useridInput.invalid && (useridInput.dirty || useridInput.touched)" class="alert alert-danger">
        <div *ngIf="useridInput.errors.required">
          Please enter your ID.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input name="email" class="form-control" ngModel type="email" placeholder="E-mail" #emailInput="ngModel" required email>
      <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="alert alert-danger">
        <div *ngIf="emailInput.errors.required">
          Please enter your e-mail.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input name="password" class="form-control" ngModel type="password" placeholder="Password"
        #passwordInput="ngModel" required>
      <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="alert alert-danger" >
        <div *ngIf="passwordInput.errors.required">
          Please enter your password.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="passwordconf">Confirm:</label>
      <input name="passwordconf" class="form-control" ngModel type="password" placeholder="Password Confirm"
        #passwordConfInput="ngModel" required>
      <div *ngIf="passwordConfInput.invalid && (passwordConfInput.dirty || passwordConfInput.touched)" class="alert alert-danger" >
        <div *ngIf="passwordConfInput.errors.required">
          Please enter your correct password.
        </div>
      </div>
    </div>
    <input value="Continue" type="submit" class="btn btn-dark" ngClass="btn">
  </form>

  <form (submit)=onSignUp(stepTwoForm) #stepTwoForm="ngForm" ngClass="secondStep">
    <div class="form-group">
      <label for="city">City:</label>
      <input name="city" class="form-control" ngModel type="text" placeholder="City" #cityInput="ngModel" required>
      <div *ngIf="cityInput.invalid && (cityInput.dirty || cityInput.touched)" class="alert alert-danger">
        <div *ngIf="cityInput.errors.required">
          Please enter your city.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="street">Street:</label>
      <input name="street" class="form-control" ngModel type="text" placeholder="Street" #streetInput="ngModel" required>
      <div *ngIf="streetInput.invalid && (streetInput.dirty || streetInput.touched)" class="alert alert-danger">
        <div *ngIf="streetInput.errors.required">
          Please enter your street.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Name:</label>
      <input name="name" class="form-control" ngModel type="text" placeholder="Name"
        #nameInput="ngModel" required>
      <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="alert alert-danger" >
        <div *ngIf="nameInput.errors.required">
          Please enter your name.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastname">Last Name:</label>
      <input name="lastname" class="form-control" ngModel type="lastname" placeholder="Last Name"
        #lastnameInput="ngModel" required>
      <div *ngIf="lastnameInput.invalid && (lastnameInput.dirty || lastnameInput.touched)" class="alert alert-danger" >
        <div *ngIf="lastnameInput.errors.required">
          Please enter your last name.
        </div>
      </div>
    </div>
    <input value="Submit" type="submit" class="btn btn-dark" ngClass="btn">

  </form>
</div>
